body {
	background: #f0f0f0;
	color: #666;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin: 0;
	text-rendering: optimizeLegibility;
}

#modulo-header-evento .titulo-modulo {
	float: left;
}

.bajada {
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.bajada-call-to-action {
	display: block;
	font-size: .8em;
}

.call-to-action {
	display: inline-block;
	vertical-align: middle;
	background: #fff;
	color: #52A3CF;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 3px;
	margin: 20px 0 5px 0;
	text-transform: uppercase;
}

.clearfix::after {
	clear: both;
	content: " ";
	display: block;
}

.container-flyer {
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
}

.evento {
	background: #fff;
	box-sizing: border-box;
	display: inline-block;
	margin: 7px;
	text-align: left;
	vertical-align: top;
	width: 15.58%;
}

.evento-footer {
	font-size: .75em;
	padding: 13px 10px;
}
	.evento-footer p {
		margin: 0;
	}

.filtros {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}
	.filtros li:first-child {
		margin-left: 0;
	}
	.filtros li {
		display: inline-block;
		font-size: .8em;
		margin-left: 15px;
		vertical-align: bottom;
	}
		.filtros li a {
			color: #666;
			display: block;
			padding-bottom: 10px;
			text-decoration: none;
			text-transform: uppercase;
		}
			.active {
				border-bottom: 2px solid #52A3CF;
				color: #52A3CF;
			}

.flyer {
	max-height: 325px;
	width: auto;
}

.footer {
	background: #52A3CF;
	color: #fff;
	padding: 15px;
	text-align: center;
}
	.footer p {
		font-size: .8em;
		margin: 0;
	}

.header {
	background: #52A3CF;
	color: #fff;
	margin-bottom: 25px;
	padding: 100px 0;
	text-align: center;
}

.header-listado-eventos {
	border-bottom: 1px solid #ddd;
	margin: 0 0 10px 0;
}

.container-principal {
	margin: 0 auto 25px auto;
	max-width: 1305px;
	text-align: center;
}

.logo {
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1;
	margin: 0;
}

.modulo-evento-flyer {
	float: left;
	margin: 0;
	width: 35%;
}
	.modulo-evento-flyer img {
		height: auto;
		width: 100%;
	}

.modulo-evento-lugar {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	max-height: 510px;
	overflow: hidden;
	padding: 10px 0;
}

.modulo-evento-shares {
	float: right;
	list-style-type: none;
	padding: 0;
}
	.modulo-evento-shares li:first-child {
		margin: 0;
		}
	.modulo-evento-shares li {
		display: inline-block;
		margin: 0 0 0 10px;
		vertical-align: top;
	}
		.modulo-evento-shares li a {
			color: #666;
			text-decoration: none;
		}

.titulo-evento {
	font-size: 1rem;
	font-weight: 700;
	margin: 0 0 10px;
}

.titulo-modulo {
	font-size: 1.8em;
	font-weight: 100;
	margin: 0 0 25px 0;
	text-align: left;
}